.square {
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	text-shadow: 2px 1px #888888;
	display: inline-block;
	background-image: url("/images/untouched.png");
}

.hof-block {
	background-color: #ffffff;
}

.hof-table {
	display: table;
	padding: 10px;
	background-color: #eeeeee;
}

.hof-table-heading {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}

.hof-entry {
	display: table-row;
}

.hof-entry-selected {
	background-color: #cccccc;
}

.hof-cell {
	display: table-cell;
	margin-left: 10px;
}

.hof-points {
	text-align: right;
}

.hof-nick {
	padding-left: 10px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
	line-height: normal;
}

.ui-selectmenu-button {
	vertical-align: middle;
}

.ui-widget {
	font-size: 1em;
}

select {
	width: 220px;
}

.hof-footer {
	text-align: center;
	font-size: smaller;
	font-style: italic;
	margin-top: 3px;
}

.lost {
	color: red;
}

.won {
	color: green;
}

.m0 {
	text-indent: -9999px;
}

.m1 {
	color: blue;
}

.m2 {
	color: green;
}

.m3 {
	color: red;
}

.m4 {
	color: purple;
}

.m5 {
	color: brown;
}

.m6 {
	color: orange;
}

.untouched {
	text-indent: -9999px;
}

.questioned {
	color: goldenrod;
}

.explored-sea {
	background-image: url("/images/explored.png");
}

.exploded {
	background-image: url("/images/exploded.png");
	text-indent: -9999px;
}

.flagged {
	background-image: url("/images/flagged.png");
	text-indent: -9999px;
}

.disclosed-wrongly-flagged-mine {
	background-image: url("/images/wrongly-flagged.png");
	text-indent: -9999px;
}

.disclosed-mine {
	background-image: url("/images/exposed.png");
	text-indent: -9999px;
}

#footer {
	font-style: italic;
}
