.square {
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	text-shadow: 2px 1px #888888;
	display: inline-block;
	background-image: url("/images/untouched.png");
}

.m0 {
	text-indent: -9999px;
}

.m1 {
	color: blue;
}

.m2 {
	color: green;
}

.m3 {
	color: red;
}

.m4 {
	color: purple;
}

.m5 {
	color: brown;
}

.m6 {
	color: orange;
}

.untouched {
	text-indent: -9999px;
}

.questioned {
	color: goldenrod;
}

.explored-sea {
	background-image: url("/images/explored.png");
}

.exploded {
	background-image: url("/images/exploded.png");
	text-indent: -9999px;
}

.flagged {
	background-image: url("/images/flagged.png");
	text-indent: -9999px;
}

.disclosed-wrongly-flagged-mine {
	background-image: url("/images/wrongly-flagged.png");
	text-indent: -9999px;
}

.disclosed-mine {
	background-image: url("/images/exposed.png");
	text-indent: -9999px;
}

.lost {
	color: red;
}

.won {
	color: green;
}

#footer {
	font-style: italic;
}
